.signup-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: url('/Signup.png');
  background-size: cover;
  background-position: center;
}

.signup-container {
  background-color: transparent;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  max-width: 100%;
  margin-left: -10px;
  margin-right: 4%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

h2 {
  font-size: 22px;
  margin-bottom: 6px;
  color: #FFFFFF;
  text-align: left;
}
h6 {
  font-size: 12px;
  margin-bottom: 2px;
  color: #FFFFFF;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: transparent;
  color: #FFFFFF;
}

button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #628EFF 0%, #8740CD 53%, #580475 100%);
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
}

button:hover {
  background: linear-gradient(90deg, #628EFF 0%, #8740CD 53%, #580475 100%);
}

.forgot-password {
  margin: 10px 0;
}

.forgot-password a {
  color: #555;
  text-decoration: none;
}

.forgot-password a:hover {
  color: #4CAF50;
}

.or-line {
  margin: 10px 0;
}

.or-line span {
  color: #555;
}

.google-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px auto;
}

.google-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.signin-link {
  margin: 10px 0;
}

.sigin-link a {
  color: #ffffff;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}

.footer-links {
  margin-top: 20px;
  font-size: 12px;
  color: #555;
}

.footer-links a {
  color: #555;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #4CAF50;
}
