.post-box {
  background: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 900px;
 
  font-family: sans-serif;
  margin-bottom: 20px;
}

.top-section {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.avatar {
      width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.post-input {
  flex: 1;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px 16px;
  background: #f0f2f5;
  font-size: 14px;
  cursor: pointer;
  resize: none; /* prevents manual resizing */
  line-height: 1.4;
  font-family: inherit;
}
    

.post-input:focus {
  outline: none;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.post-options {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.post-options button {
  background: #f0f2f5;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
}

.post-options button:hover {
  background: #e4e6eb;
}

/* .post-btn {
  background: #4b70ff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 0px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
} */

.post-btn:hover {
  background: #3b5de1;
}
